body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #e0e0e0;
    background-image: linear-gradient(to right, #E55D87, #5FC3E4);

    overflow: auto;
}

/* menu */
nav {
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    opacity: 80%;
    text-align: center;
}

nav a {
    color: #e0e0e0;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

nav a:hover {
    color: lightcoral;
}
.container {
    padding: 20px;
    margin-top: 100px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #fff;
}

.upload-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.upload-buttons input,
.upload-buttons select,
.upload-buttons button {
    padding: 10px;
    font-size: 1em;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.photos::-webkit-scrollbar {
    display: none;
}

.photo {
    position: relative;
    width: 200px;
    height: 200px;
    border: 10px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    cursor: pointer;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo .description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo:hover .description {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

textarea {
    width: 95%;
    height: 100px;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
}

input#letter-name {
    margin-bottom: 10px;
}